.element__like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/element-like.svg);
    background-color: transparent;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    transition: 0.3s;
    margin: 5px 2px 0;
}

.element__like:hover {   
    opacity: 0.5;
}

