.profile__info-text {
    grid-column: 1;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 336px;
    grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (max-width:720px) {
    .profile__info-text {
        max-width: 280px;
        margin: 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;

    }
}