.header {
    width: 880px;
    height: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 41px;
    border-bottom: 1px solid #545454;
    margin: 45px auto 0;
}

@media screen and (max-width:890px) {
    .header {
        max-width: 100%;
        margin: 28px auto 0;
        padding-bottom: 27px;
       
    }


}