.elements {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 20px 17px;
    margin: 50px auto 0;
}

@media screen and (max-width:897px) {
    .elements {
        max-width: calc(100% - 38px);
         margin: 36px auto 0;
        
        gap: 20px 8px;
        justify-content: center;
    }
   
}
