.popup__close-button {
    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-color: transparent;
    border: none;
    top: -40px;
    right: -41px;
    width: 35px;
    height: 31px;

}
.popup__close-button:hover {
    opacity: .6;
    cursor: pointer;
  }

  @media screen and (max-width: 500px) {
    .popup__close-button {
      top: -37px;
      right: -14px;
      background-size: 21px;
    }
  }