.profile__info {
    margin: 0 auto 0 30px;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    align-content: start;
    column-gap: 14px;
}

@media screen and (max-width:600px) {
    .profile__info {
        width: 100%;
        margin: 26px auto 0;
        column-gap: 4px;
        justify-content: center;
    }
}