.element {
    width: 282px;
    border-radius: 5%;
    overflow: hidden;
    background-color: #fff;

}

@media screen and (max-width:890px) {
    .element {
        max-width: calc(100% - 3px); 
        
    }
}